<h3>Can you show us some demos?</h3>

{{#swiper-container
  pagination=true
  loop=true
  centered=true
  slidesPerView=3
  spaceBetween=50
  grabCursor=true
  class='swiper_main'
  onChange='handleChange'
  }}

  {{swiper-slide class='slide shakeitup'}}
  {{swiper-slide class='slide movielookup'}}
  {{swiper-slide class='slide ecommerce'}}
  {{swiper-slide class='slide quoraclone'}}
  {{swiper-slide class='slide salemsunshine'}}
  {{swiper-slide class='slide candorhub'}}

{{/swiper-container}}

{{#swiper-container
  pagination=true
  loop=true
  centered=true
  slidesPerView=1
  spaceBetween=5
  grabCursor=true
  onChange='handleChange'
  class='swiper_mobile'}}

  {{swiper-slide class='slide shakeitup'}}
  {{swiper-slide class='slide movielookup'}}
  {{swiper-slide class='slide ecommerce'}}
  {{swiper-slide class='slide quoraclone'}}
  {{swiper-slide class='slide salemsunshine'}}
  {{swiper-slide class='slide candorhub'}}


{{/swiper-container}}

<div class="row">
  <div class="col-xs-1 col-md-4" />
  <div class="col-xs-10 col-md-4">
    <a href={{slideLink}} target="_blank" class="btn btn-default btn-block slide-title-link">
    {{slideTitle}}
    </a>
  </div>
  <div class="col-xs-1 col-md-4" />
</div>
<small>{{slideDescription}}</small>
