<div class="icon-row">
  <a href="https://github.com/JeffreyRuder" target="_blank">
    {{fa-icon 'github' size=3}}</a>
  <a href="https://twitter.com/JTRinOR" target="_blank">
    {{fa-icon 'twitter' size=3}}</a>
  <a href="https://www.linkedin.com/in/JeffreyRuder" target="_blank">
    {{fa-icon 'linkedin' size=3}}</a>
  <a href="mailto:ruderjt@gmail.com" target="_blank">
    {{fa-icon 'envelope' size=3}}</a>
</div>

{{yield}}
